<form>

    <input type="text" [(ngModel)]="item.name" name="itemName" id="itemName" required>
    <button type="submit" (click)="add()">add</button>
</form>
<ul>
    <li class="item" *ngFor="let todo of items" (click)="toggleItem(todo)" [ngClass]="{'is-done':todo.isDone}">{{todo.name}}</li>
</ul>
<p >{{filterdItems}} remaining out of {{items.length}}</p>