<div class="container">
  
      <button class="btn-like"[ngClass]="{'liked':isliked}" (click)="toggleLike()"> Like | {{likes}} </button>
  
      <button class="btn-dislike" [ngClass]="{'disliked':isDisLiked}"(click)="toggleDislike()">Dislike | {{dislikes}}</button>
  
    </div>
    